<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/spacemans_adventures/src/spacemans_adventures_interface/main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="spacemans_adventures_interface.main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="spacemans_adventures"/>
</launchConfiguration>
